; saved on 2021-10-29 22:58:24
{:ns "demo.notebook.image",
 :name "notebook",
 :meta {:java "16.0.1",
        :clojure "1.10.3",
        :eval-finished "2021-10-29 22:58:24"},
 :content ({:src "(ns notebook.image\n  (:require\n   [clojure.java.io :as io]\n   [reval.type.protocol :refer [to-hiccup]]\n   [reval.ui :refer [img-inline img]]\n   [reval.type.image :refer [load-img]]))",
            :id :678450a6-7723-4033-8d09-72ba24c4757a,
            :out "",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:src "(-> \"demo/resources/sun.png\"\n    io/file\n    .exists)",
            :id :2556b250-4df2-42dd-ac43-d6468f2e2828,
            :err #object[clojure.lang.Compiler$CompilerException
                         "0x3126aa15"
                         "Syntax error compiling at (2:1)."],
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:src "(-> (load-img  \"demo/resources/sun.png\")\n    img-inline\n    ;to-hiccup\n    )",
            :id :e0c290ae-b729-4a91-9e4e-d08829e5f1cd,
            :err #object[clojure.lang.Compiler$CompilerException
                         "0x58b99528"
                         "Syntax error compiling at (2:1)."],
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:src "(-> (load-img  \"demo/resources/sun.png\")\n    img\n    (assoc :alt \"adf\")\n    ;type\n    ;to-hiccup\n    )",
            :id :22c4b137-9360-4dfd-af0f-4398281c661e,
            :err #object[clojure.lang.Compiler$CompilerException
                         "0x2e0f552f"
                         "Syntax error compiling at (4:5)."],
            :hiccup [:div.p-2.clj-nil [:p "nil"]]})}
