.clj-unknown {background-color: deeppink}

.clj-class {color: indigo}
.clj-record {color: #5dcd03}

.clj-raw {color: red}
.clj-nil {color: grey}
.clj-symbol {color: steelblue}
.clj-namespace {color: steelblue}
.clj-keyword {color: rgb(30, 30, 82)}
.clj-var {color: deeppink}
.clj-atom {color: darkorange}
.clj-agent {color: darkorange}
.clj-ref {color: darkorange}

.clj-char {color: dimgrey}
.clj-string {color: grey}

.clj-int {color: blue}
.clj-long {color: blue}
.clj-bigint {color: blue; font-weight: bold}

.clj-float {color: darkgreen}
.clj-double {color: darkgreen}
.clj-bigdecimal {color: darkgreen; font-weight: bold}
.clj-ratio {color: darkblue}

.clj-localdate {background-color: green}

.clj-vector {color: #1C005A}
.clj-lazy-seq {color: lightgreen}
.clj-set {color: brown}
.clj-list {color: green}
.clj-map {color: purple}
