{:paths ["src"
         "resources"]
 :deps
 {nano-id/nano-id {:mvn/version "1.1.0"}
  com.pitch/uix.core {:mvn/version "1.4.9"}
  com.pitch/uix.dom {:mvn/version "1.4.9"}
  ; gorilla
  org.pinkgorilla/ui-codemirror {:mvn/version "0.1.54"} 
  org.pinkgorilla/ui-highlightjs {:mvn/version "0.1.22"}
  org.pinkgorilla/ui-layout {:mvn/version "0.5.87"}
  org.pinkgorilla/css-theme {:mvn/version "0.1.13"}
  org.pinkgorilla/clj-service-flowy {:mvn/version "0.2.50"}
  org.pinkgorilla/reval {:local/root "../reval" :deps/manifest :deps}}}
