{:paths ["src"
         "resources"]
 :deps
 {org.pinkgorilla/reval {:local/root "../reval" :deps/manifest :deps}
  ; deps to ui extensions used in reval
  org.pinkgorilla/pinkie {:mvn/version "0.5.231"}; error boundary
  org.pinkgorilla/ui-repl {:mvn/version "0.1.93"}; reagent
  org.pinkgorilla/ui-input {:mvn/version "0.2.44"} ; spaces
  org.pinkgorilla/ui-codemirror {:mvn/version "0.1.48"}
  org.pinkgorilla/ui-highlightjs {:mvn/version "0.0.9"}
  org.pinkgorilla/clj-service {:mvn/version "0.2.7"}}

 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.0.5"}}
          :ns-default build}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"
               "--lint"
               "src" "test"
               "--config" "cljkondo.edn"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}

  :test
  {:extra-paths ["test" "demo"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}


;
  }}
