{:paths ["src"
         "resources" ; extension
         ]
 :deps {
        org.pinkgorilla/goldly {:mvn/version "0.7.684"}
        org.pinkgorilla/reval {:local/root "../reval" :deps/manifest :deps}
        
        
        }
;
 }