{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  org.clojure/data.codec {:mvn/version "0.1.1"} ; image base64 encoding
  rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}
  org.pinkgorilla/modular {:mvn/version "0.2.56"}
  org.pinkgorilla/timbre {:mvn/version "0.0.7"}
  funcool/promesa {:mvn/version "11.0.674"}}

 :aliases
 {; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"
               "--lint"
               "src" "test"
               "--config" "cljkondo.edn"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}
                org.pinkgorilla/timbre {:mvn/version "0.0.7"}}
   :exec-fn cognitect.test-runner.api/test
   :main-opts ["-m" "cognitect.test-runner"]}
 

  }}
