{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  funcool/promesa {:mvn/version "11.0.674"}
  rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}
  org.pinkgorilla/modular {:mvn/version "0.2.61"}
  org.pinkgorilla/timbre {:mvn/version "0.0.7"}
  org.pinkgorilla/dali {:mvn/version "0.1.30"}
  }}
