{:name "reval"
 ; build time
 :theme {:available  {}
         :current {}}
 :cljs-namespace []
 :cljs-ns-bindings {}
 :cljs-bindings {}
 :pinkie {}
 :lazy true

 ; run time
 :clj-require [goldly.devtools]
 :autoload-cljs-dir ["goldly/lib"
                     "goldly/devtools"]
 }