; saved on 2021-10-30 12:34:28
{:content [{:src {:src "(ns notebook.apple)"},
            :id :ee9eaa20-1a37-4a4b-b2a3-7d7176d2ac8e,
            :out "",
            :hiccup [:div.bg-red-300.border-solid.p-2
                     [:p "unknown type"]
                     [:h1
                      "class clojure.lang.PersistentArrayMap"]]}
           {:src {:src "(+ 1 1)"},
            :id :33634c22-7b20-4f9d-bbe6-47c67624db19,
            :out "",
            :hiccup [:div.bg-red-300.border-solid.p-2
                     [:p "unknown type"]
                     [:h1
                      "class clojure.lang.PersistentArrayMap"]]}
           {:src {:src "[1 2 3]"},
            :id :a1d52dce-764e-4a44-a541-53ddb8b923d2,
            :out "",
            :hiccup [:div.bg-red-300.border-solid.p-2
                     [:p "unknown type"]
                     [:h1
                      "class clojure.lang.PersistentArrayMap"]]}
           {:src {:src "(println \"hello\")"},
            :id :90292687-6d95-49b0-99cd-e86ac03d5363,
            :out "",
            :hiccup [:div.bg-red-300.border-solid.p-2
                     [:p "unknown type"]
                     [:h1
                      "class clojure.lang.PersistentArrayMap"]]}
           {:src {:src "(defn add3 [v]\n  (+ 3 v))"},
            :id :8de00e8b-48bd-4b9b-8239-e93d3e1b1a60,
            :out "",
            :hiccup [:div.bg-red-300.border-solid.p-2
                     [:p "unknown type"]
                     [:h1
                      "class clojure.lang.PersistentArrayMap"]]}],
 :meta {:id :06d315fc-4f71-44c4-805c-b9e52c24e812,
        :created "2021-10-30 12:34:28",
        :ns "demo.notebook.apple",
        :eval-finished "2021-10-30 12:34:28",
        :java "16.0.1",
        :clojure "1.10.3"}}
