{:extension/name :reval-ui
 ; build 
 :cljs/module :reval-ui
 :cljs/depends-on #{:ui-codemirror :main}
 :cljs/namespace [; type converter
                  reval.type.util
                  reval.type.converter
                  reval.type.cljs ; side-effects; load protocols for cljs and sci

                  ; kernel
                  reval.kernel.protocol
                  ;reval.kernel.dali

                  ; dali viewer
                  reval.dali.viewer.notebook
                  reval.dali.viewer.notebook-viewer
                  reval.dali.viewer.collection
                  reval.dali.viewer.collection-viewer
                  reval.dali.viewer.list
                 
                  ; pages
                  reval.page.viewer
                  reval.page.repl

                  ; floating repl
                  reval.frepl]
 :cljs/ns-bindings {; type-converter
                    'reval.type.util {'simplevalue->dali reval.type.util/simplevalue->dali
                                      'list->dali reval.type.util/list->dali
                                      'unknown-type reval.type.util/unknown-type
                                      'type-convert-err reval.type.util/type-convert-err}
                    'reval.type.converter {'type->dali reval.type.converter/type->dali}
                    
                    ; kernel
                    'reval.kernel.protocol {'available-kernels reval.kernel.protocol/available-kernels
                                            'kernel-eval reval.kernel.protocol/kernel-eval}
                    ;reval.kernel.dali {reval.kernel.dali}
                    

                    ; dali viewer
                    'reval.dali.viewer.notebook {'notebook reval.dali.viewer.notebook/notebook
                                                 'add-segment reval.dali.viewer.notebook/add-segment
                                                 'empty-notebook reval.dali.viewer.notebook/empty-notebook}
                    'reval.dali.viewer.notebook-viewer {'notebook-viewer reval.dali.viewer.notebook-viewer/notebook-viewer}
                    'reval.dali.viewer.collection {'notebook-collection reval.dali.viewer.collection/notebook-collection}
                    'reval.dali.viewer.collection-viewer {'load-transform-edn reval.dali.viewer.collection-viewer/load-transform-edn
                                                          'collection-viewer reval.dali.viewer.collection-viewer/collection-viewer}
                    'reval.dali.viewer.list {'list-view reval.dali.viewer.list/list-view}
                    
                    ; pages 
                    'reval.page.viewer {'viewer-page reval.page.viewer/viewer-page}
                    'reval.page.repl {'repl-page reval.page.repl/repl-page}

                    ;frepl
                    'reval.frepl {'show-floating-repl reval.frepl/show-floating-repl
                                  'show-floating-repl-namespace reval.frepl/show-floating-repl-namespace}
                    }

; run 
 ;:api-routes {"rdocument/" {"ns" reval.document-handler/wrapped-get-ns-list
 ;                           "files" reval.document-handler/wrapped-get-ns-files
 ;                           ["file/" :ns "/" :name] reval.document-handler/wrapped-ns-file-handler}}
 


 
 ; 
 }

