{:extension/name :reval

 :clj-service [; singleton
               {:fun reval.save/save-code  :mode :clj}
               {:fun reval.document.notebook/load-src :mode :clj}
               {:fun reval.document.notebook/load-src-by-res-path :mode :clj}
               ; ctx 
               {:fun reval.document.explore/nb-collections :ctx :reval :mode :clj} ; :permission  #{:eval}
               {:fun reval.document.notebook/load-notebook :ctx :reval :mode :clj}
               {:fun reval.document.notebook/eval-notebook :ctx :reval :mode :clj}
               {:fun reval.document.notebook/save-notebook :ctx :reval :mode :clj}
               {:fun reval.dali.eval/dali-eval-blocking :ctx :reval :mode :clj}
               ]}
