{:extension/name :reval
 ; runtime
 :clj-service [{:fun reval.namespace.explore/repl-tree :mode :clj}
               {:fun reval.namespace.store/save-code  :mode :clj}
               {:fun reval.namespace.store/load-src :mode :clj}
               {:fun reval.namespace.store/load-src-by-res-path :mode :clj}
               {:fun reval.dali.eval/dali-eval-blocking  :mode :clj} ; :permission  #{:eval}
               {:fun reval.notebook/eval-notebook  :mode :clj} ; :permission  #{:eval}
               ]}


