{:paths ["src" "resources"]
 :deps
 {org.pinkgorilla/reval {:local/root "../reval" :deps/manifest :deps}
  ; deps to ui extensions used in reval
  org.pinkgorilla/viz-spec {:mvn/version "0.0.5"} ; scratchpad
  org.pinkgorilla/ui-repl {:mvn/version "0.0.44"} ; reagent
  org.pinkgorilla/ui-input {:mvn/version "0.0.21"} ; spaces
  org.pinkgorilla/ui-codemirror {:mvn/version "0.0.31"}
  org.pinkgorilla/ui-highlightjs {:mvn/version "0.0.8"}
  org.pinkgorilla/ui-site {:mvn/version "0.0.18"} ; remove it?
  }

 :aliases
 {;https://github.com/applied-science/deps-library
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"
               "--lint"
               "src" "test"
               "--config" "cljkondo.edn"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m" "clj-check.check"]}

  :garamond
  {:main-opts ["-m" "garamond.main"]
   :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

  :test
  {:extra-paths ["test" "demo"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build-jar
  {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
          io.github.slipset/deps-deploy {:git/sha "d1fac08888ec8beda0579d3071bb9f804a1d446c"}
          io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}
                     ;rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}
          babashka/fs {:mvn/version "0.0.5"}
          org.pinkgorilla/modular {:mvn/version "0.0.30"} ; modular.date
          }
   :ns-default build
   :jvm-opts ["-Dmaven.wagon.rto=90000"]}


  :deploy-jar
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :artifact "target/reval.jar"}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]}



;
  }}
