{:name "demo-reval"
 :lazy false

 :cljs-routes {""      reval.goldly.page.notebook-viewer/viewer-page
               ; "devtools/repl" :repl
               ;"devtools/scratchpad" :scratchpad
              }
 
;
 }