{:name "demo"
 :lazy true
 :depends-on #{:reval-ui}
 :cljs-namespace [demo.page.frepl]

 :cljs-ns-bindings {'demo.page.frepl {'page  demo.page.frepl/page}}

 :cljs-routes {""  reval.page.viewer/viewer-page
               "frepl" demo.page.frepl/page}
 
;
 }