{:paths ["src" "resources"]
 :deps
 {org.pinkgorilla/reval-goldly {:local/root "../reval-goldly" :deps/manifest :deps}}

 :aliases
 {; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

  ;; nrepl only
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                       cider/cider-nrepl {:mvn/version "0.28.5"}
                       }
          :main-opts  ["-m" "nrepl.cmdline"
                       "--middleware" "[cider.nrepl/cider-middleware]"
                       "--port" "9100"
                       ]}

  ;; nb eval
  :nbeval {:extra-paths ["demo"]
           :exec-fn  reval.task/nbeval}

  ; demo ui

  :goldly
  {:extra-paths ["target/webly" ; to include the sci-bindings info
                 "node_modules"]
   :extra-deps {org.pinkgorilla/goldly {:mvn/version "0.4.566"}
                nrepl/nrepl {:mvn/version "1.0.0"}
                cider/cider-nrepl {:mvn/version  "0.28.5" #_"0.32.0"}
                }
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :services "reval/demo-services.edn"
               :config  ["webly/config.edn" "goldly/config.edn" "reval/demo-config.edn"]}}

  :build
  {:exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"}}}}
