{:paths ["src" 
         "resources"
         ".reval"
         ]
 :deps
 {org.pinkgorilla/reval {:local/root ".." :deps/manifest :deps}
  org.pinkgorilla/webly {:mvn/version "0.9.716"}
  ; ui modules for demo notebooks:
  org.pinkgorilla/ui-vega {:mvn/version "0.3.221"}

  ; run by default in docs-services
  nrepl/nrepl {:mvn/version "1.2.0"}
  cider/cider-nrepl {:mvn/version "0.49.1"}}

 :aliases
 {; demo ui
  :webly {:exec-fn webly.spa/webly-build
          :exec-args {:config ["reval/demo-config.edn"]
                      :profile "npm-install"}}

  :watch {:exec-fn modular.system/start!
          :exec-args {:profile "watch"
                      :config  ["reval/demo-config.edn"]
                      :services "reval/demo-services.edn"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

  :run {:exec-fn modular.system/start!
        :exec-args {:profile "jetty"
                    :config  ["reval/demo-config.edn"]
                    :services "reval/demo-services.edn"}}

  ;; notebook eval

  :nbeval {:exec-fn modular.system/start!
           :exec-args {:run demo.task/eval-all
                       :config  ["reval/demo-config.edn"]
                       :services "reval/task-services.edn"}}}}
