{:timbre-loglevel [[#{"pinkgorilla.nrepl.*"} :warn]
                   [#{"org.eclipse.jetty.*"} :warn]
                   [#{"webly.*"} :info]
                   [#{"*"} :info]]

 :nrepl {:enabled true
         :bind "0.0.0.0"
         :port 9100}

 :goldly {:lazy false; true
          ; runtime
          :autoload-clj-ns [goldly.devtools
                            demo.init]
          :autoload-cljs-dir  [; to load cljs files to repl state
                               ; order is important
                               "src/goldly/lib"
                               "src/goldly/devtools"]
          :routes {:app {"" :devtools
                         "devtools/pages" :pages
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/environment" :environment}
                   :api {"rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         }}}

 ; devtools is used by reval
 :devtools {:rdocument  {:storage-root "demo/rdocument/"
                         :url-root "/api/rdocument/file/"}
            :collections {:user [:clj "user/notebook/"]
                          :demo [:clj "demo/notebook/"]}}

 ;
 }
