{:name "reval"
 ; build time
 :lazy false
 :cljs-namespace [reval.default reval.type.converter]
 :cljs-bindings {'value->hiccup reval.type.converter/value->hiccup}
 :cljs-ns-bindings {}
  
 ; run time
 :autoload-cljs-dir ["reval/lib"
                     "reval/lib2"
                     "reval/page"]
 :autoload-clj-ns [reval.default
                   reval.services]
 
 }