{:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
 :components
 {:config {:start (modular.config/load-config! (:config #ref [:modular]))}
  :exts {:start (extension/discover)}

  :permission {:start (modular.permission.core/start-permissions
                       {} ; empty users, as we dont use oauth2 here for identity / user managmenet
                       )}

  :clj-service {:start (clj-service.core/start-clj-services
                        (clip/ref :permission)
                        (clip/ref :exts))}

  :reval {:start (reval.core/start-reval
                  (merge {:clj  (clip/ref :clj-service)
                          :reval-role nil}
                       (:reval (deref (clip/ref :config)))))}

  :webly {:start (webly.app.app/start-webly
                  (clip/ref :exts)
                  (deref (clip/ref :config))
                  (:profile #ref [:modular]))
          :stop (webly.app.app/stop-webly this)}


  :nrepl {:start (nrepl.server/start-server
                  :bind "0.0.0.0"
                  :port 9100
                  :middleware cider.nrepl.middleware/cider-middleware
                  :handler cider.nrepl/cider-nrepl-handler)
          :stop (.close this)}




;  
  }}
