{:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
 :components
 {:config1 {:start (modular.config/load-config! (:config #ref [:modular]))}
  :config {:start (deref (clip/ref :config1))}
  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (clip/ref :config)))}
  :exts {:start (extension/discover (:extension (clip/ref :config)))}
   

;; webserver
  :token {:start (token.core/start-token-service
                  {:users {}
                   :secret "AbHzj834ri9"
                   :store-path ".gorilla/tokenstore"
                   :providers {}
                   :auth-expiry 604800})}
  :clj {:start (clj-service.core/start-clj-services
                {:exts (clip/ref :exts)
                 :env {:dali-store (deref dali.store.cache/dali-cache-store)}})}
  :webly {:start (webly.spa/start-webly
                  {:exts (clip/ref :exts)
                   :ctx {:token (clip/ref :token)
                         :clj (clip/ref :clj)}}
                  (clip/ref :config)
                  (:profile #ref [:modular])
                  (:version #ref [:modular]))
          :stop (webly.spa/stop-webly this)}
  
  ;; nrepl
  
  :nrepl {:start (nrepl.server/start-server
                  :bind "0.0.0.0"
                  :port 9100
                  :middleware cider.nrepl.middleware/cider-middleware
                  :handler cider.nrepl/cider-nrepl-handler)
          :stop (.close this)}




;  
  }}
