{:modular (modular.system/modular-env) 
 :components
 {:config {:start (modular.config/load-config! (:config #ref [:modular]))}
  :exts {:start (extension/discover)}

  :reval {:start (reval.core/start-reval
                  (merge 
                   (:reval (deref (clip/ref :config)))
                    {:clj  nil
                     :reval-role nil}))}

;  
  }}
